/*

Base styles used globally on the site.

1.  Make header inherit color of its container.

2.  As the site's background color is dark (because of the footer), it's
    vital to style all sections with white background to avoid repetition.

3.  Prevent small screens from zooming in when the field is activated.

*/

h1, h2, h3, h4, h5, h6 {
  color: inherit; // 1
  small {
    opacity: .5;
    font-weight: lighter;
  }
}

a {outline:none;}

section {
  background-color: white; // 2
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  height: rem-calc(48);
  border-radius: $global-radius;
  @media #{$small-only} {
    font-size: 16px; // 3
  }
}

.th {
  transition: 0;
  &:hover, &:focus {
    box-shadow: 0 0 0 rem-calc(2) $primary-color;
  }
}

.highlight {
  background-color: yellow;
  padding: rem-calc(4) rem-calc(6);
  border-radius: $global-radius;
}

.required {
  &:after {
    content: '*';
    color: red;
    padding-left: rem-calc(3);
  }
}

textarea {
  height: rem-calc(120);
}

.show-for-large {
  display: none !important;
  @media #{$large-up} {
    display: block !important;
  }
}

.show-for-small {
  display: block;
  @media #{$large-up} {
    display: none;
  }
}