/*

Basic layout stylings.

*/


.l-section-spacing {
  padding: rem-calc(24) 0;
  @media #{$medium-up} {
    padding: rem-calc(48) 0;
  }
}

.l-section-category {
  margin: rem-calc(36) 0;
}

.l-section-aside {
  margin-bottom: rem-calc(30);
}

.l-category-header {
  padding: rem-calc(30) 0;
  text-align: center;
  color: #565f66;
  @media #{$medium-up} {
    text-align: left;
  }
}

.l-category-list {
  @include grid-row(nest-collapse);
  margin-bottom: rem-calc(30);
}

.l-header-large {
  padding: rem-calc(72) 0;
  .m-nosto-title {
    color: white;
  }
}

/*------Breadcrumb---------*/
.m-breadcrumb {
  background: #5d9731;
}

#post-7 {
  background: #5d9731;
}
#post-9 {
  background: #5d9731;
}
#post-11 {
  background: #5d9731;
}
#post-13 {
  background: #5d9731;
}
