/*

Handmade mixins.

1.  A mixin for using high resolution images as CSS background image. "lr-image"
    and "hr-image" stand for low and high resolution image respectively.
    Original source:

    http://joostkiens.com/cross-browser-media-query-mixins-for-hidpi/

    Example of use:

    @include hr-image("img_name.png", "image_name@2x.png");

2.  Mixin for vertical align. Grabbed from here:

    http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

    Problem: Causes some blurring when subpixel alignment appears.

*/

@mixin hr-image($lr-image, $hr-image) { // 1
  background-image: url("../images/#{$lr-image}");
  background-repeat: no-repeat;
  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (-o-min-device-pixel-ratio: 5/4),
         (min-resolution: 120dpi) {
    background-image: url("../images/#{$hr-image}");
    background-size: image-width($lr-image) image-height($lr-image);
  }
  width: image-width($lr-image);
  height: image-height($lr-image);
}

@mixin vertical-align { // 2
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-align {
  @include vertical-align;
}

@mixin border-basic($color: $border-color) {
  border: 1px solid $color;
}

@mixin border-shadow() {
  border-width: 1px;
  border-style: solid;
  border-color: lighten($border-color, 3%) $border-color darken($border-color, 10%);
}
