/*

Different states.

*/

li.active a {
  .academy & {
    background-color: $primary-color !important;
  }
  .implementation & {
    background-color: $success-color !important;
  }
  .faq & {
    background-color: $faq-color !important;
  }
  .manuals & {
    background-color: $manuals-color !important;
  }
}
