/*

Custom variables.

*/

// Colors

$bg-color: #f3f5f8;
$bg-color-dark: #363f4e;
$border-color: #e6e6e6;
$text-color: #565f66;

$faq-color: #ff8d1e;
$manuals-color: #5d9731;
$pink : #dc4276;
$dark-pink: #c12459;

// Other

$border-basic: 1px solid $border-color;
