/*

Styles for breadcrumb used on all pages apart from front page. The color of the
breadcrumb can be different on different areas of the Support Center.

1.  Relative positioned so that the search icon can be absolutely positioned
    within the search input field field.

2.  Bottom transparent border made with box-shadow because it overlays the
    underlaying color instead of the input itself, resulting in nice transparent
    effect on top of any color that the breadcrumb element may have.

3.  Remove default submit element formatting.

*/

// General rules

.m-breadcrumb-location {
  display: none;
  float: left;
  list-style-type: none;
  margin: 0;
  color: white;
  font-size: rem-calc(13);
  margin: rem-calc(20) 0;
  @media #{$medium-up} {
    display: block;
  }
}

.m-breadcrumb-location-item {
  display: inline-block;
  font-weight: lighter;
  a {
    opacity: .5;
    color: white;
    &:hover {
      opacity: 1;
    }
  }
  &:after {
    content: '';
    @include hr-image("icon-arrow.png", "icon-arrow@2x.png");
    opacity: .5;
    padding-right: rem-calc(12);
    margin-left: rem-calc(12);
    position: relative;
    top: rem-calc(5);
  }
}

.m-breadcrumb-location-item-active {
  font-weight: bold;
  opacity: 1;
  &:after {
    content: '';
    margin-right: 0;
    margin-left: 0;
    background-image: none;
  }
}

// Search

.m-breadcrumb-search {
  @media #{$medium-up} {
    float: right;
  }
}

input.m-breadcrumb-search-input {
  position: relative; // 1
  margin-bottom: 0;
  height: rem-calc(36);
  border: 0;
  box-shadow: 0 1px 0 rgba(black, .15); // 2
  margin: rem-calc(12) 0;
}

.m-breadcrumb-search-icon {
  position: absolute;
  right: rem-calc(24);
  top: rem-calc(24);
  @include hr-image("icon-search-small.png", "icon-search-small@2x.png");
  background-color: transparent; // 3
  border: 0; // 3
  cursor: pointer;
}

// Category specific rules

.m-breadcrumb {
  .academy &, .contact & {
    background-color: $primary-color;
  }
  .implementation & {
    background-color: $success-color;
  }
  .faq & {
    background-color: $faq-color;
  }
  .manuals & {
    background-color: $manuals-color;
  }
  .search & {
    background-color: $primary-color;
    .m-breadcrumb-search {
      display: none;
    }
  }
}

.search .m-breadcrumb {
  background-color: $primary-color;
  .m-breadcrumb-search {
    display: none;
  }
}
