/*

Category header styles, used on category, sub-category and article pages.

1.  On mobile show icon as an inline-block as it allows centering via
    text-align.

2.  Separate icon from top.

3.  Float was used for better control over positioning.

4.  Separate icon from the title.

*/

.m-category-header {
  color: white;
}

.m-category-header-title {
  margin-bottom: 0;
  font-size: rem-calc(36);
}

.m-category-header-subtitle {
  margin-bottom: rem-calc(6);
  opacity: .5;
  font-weight: lighter;
}

.m-category-header-icon {
  display: inline-block; // 1
  margin-top: rem-calc(6); // 2
  @media #{$medium-up} {
    float: left; // 3
    display: block;
    margin: rem-calc(6) rem-calc(18) 0 0; // 4
  }
}
