/*

Styles for category module.

1.  We'll use Foundations custom grid to avoid overcrowding markup.

2.  Define as block, as 'a' is normally an inline element.

3.  A transparent border must be added in order to be able to use borders
    on hover.

4.  Separate the category content from the image.

*/

.m-category {
  @include grid-row(nest-collapse); // 1
  display: block; // 2
  color: $secondary-color;
  @include border-basic(transparent); // 3
  border-radius: $global-radius;
  padding: rem-calc(12);
  margin-bottom: rem-calc(18);
  &:hover, &:focus {
    @include border-shadow();
    color: $secondary-color;
    .m-category-content-title {
      color: $primary-color;
    }
  }
}

.m-category-icon {
  @include grid-column(3);
  margin: rem-calc(18) 0 0 rem-calc(6);
}

.m-category-content {
  @include grid-column(9);
  padding-left: rem-calc(24); // 4
  padding-right: 0;
}

.m-category-content-title {
  font-size: rem-calc(18);
}

.m-category-content-decription {
  font-size: rem-calc(12);
  line-height: rem-calc(24);
  margin-bottom: 0;
}
