/*

Footer styles.

*/

.m-footer-list {
  list-style-type: none;
  color: white;
  text-align: center;
  margin-bottom: rem-calc(48);
  margin-left: 0;
}

.m-footer-list-item {
  font-size: rem-calc(14);
  display: block;
  margin-bottom: rem-calc(18);
  @media #{$medium-up} {
    display: inline-block;
    margin-right: rem-calc(18);
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.m-footer-list-item-link {
  color: white;
}
