/*

Front page header styles.

*/

.m-header {
  background: url(../images/header-front.jpg) no-repeat center;
  background-size: cover;
  padding: rem-calc(60) 0;
  color: white;
}

.m-header-title {
  font-size: rem-calc(30);
}

.m-header-large {
  color: white;
  text-align: center;
  margin-bottom: rem-calc(72);
}

.m-header-large-title {
  font-size: rem-calc(72);
  margin-bottom: 0;
}

.m-header-large-subtitle {
  font-weight: lighter;
  font-size: rem-calc(30);
  opacity: .5;
}

.f-dropdown.tiny {
  max-width: 200px;
}

.f-dropdown {
  position: absolute;
  left: -9999px;
  top: 62px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: #fff;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  margin-top: 2px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent #fff transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 99;
  }
}

.f-dropdown.open {
  left: 0;
}

#menu-action-navigation {
  position: relative;
  float: left;
  a.language-selector {
    line-height: 3.75rem;
    padding: 0 2.5rem 0 1.5rem;
    display: block;
    &:before {
      border-width: 0.4375rem;
      right: 1.2rem;
      margin-top: -0.15625rem;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      border-style: solid;
      border-color: #666 transparent transparent transparent;
      top: 49%;
    }
    &:link, &:visited, &:active, &:focus {
      background: none;
      color: #565f66;
      @media #{$large-up} {
        background: #f6f6f6;
      }
    }
    &:hover {
      background: none;
      color: #565f66;
      @media #{$large-up} {
        background: #f6f6f6;
      }
    }
  }
  a.language-selector.open {
    background: #f6f6f6;
  }
  ul {
    li {
      width: 100%;
      a {
        &:hover {
          background: #f6f6f6;
          color: $text-color;
        }
      }
    }
  }
}

#mobile-language-select {
  padding: 0 1.25rem;
}

