/*

Icons used on the site.

*/

// Main category icons

.m-icon-category-academy {
  @include hr-image("icon-academy.png", "icon-academy@2x.png");
}

.m-icon-category-implementation {
  @include hr-image("icon-implementation.png", "icon-implementation@2x.png");
}

.m-icon-category-faq {
  @include hr-image("icon-faq.png", "icon-faq@2x.png");
}

.m-icon-category-manuals {
  @include hr-image("icon-manuals.png", "icon-manuals@2x.png");
}

// Sub category icons

.m-icon-category-academy-large {
  @include hr-image("icon-academy-large.png", "icon-academy-large@2x.png");
}

.m-icon-category-implementation-large {
  @include hr-image("icon-implementation-large.png", "icon-implementation-large@2x.png");
}

.m-icon-category-faq-large {
  @include hr-image("icon-faq-large.png", "icon-faq-large@2x.png");
}

.m-icon-category-manuals-large {
  @include hr-image("icon-manuals-large.png", "icon-manuals-large@2x.png");
}

// Contact icon

.m-icon-category-contact-large {
  @include hr-image("icon-contact-large.png", "icon-contact-large@2x.png");
}

// Search icon

.m-icon-search-large {
  @include hr-image("icon-search-large.png", "icon-search-large@2x.png");
}

// Icons used on titles

.m-icon-title {
  &:before {
    content: '';
    display: inline-block;
    margin-right: rem-calc(12);
    position: relative;
  }
}

// Title specific icons

.m-icon-title-category {
  &:before {
    @include hr-image("icon-category.png", "icon-category@2x.png");
    top: rem-calc(2);
  }
}

.m-icon-title-featured {
  &:before {
    @include hr-image("icon-featured.png", "icon-featured@2x.png");
    top: rem-calc(2);
  }
}

.m-icon-title-popular {
  &:before {
    @include hr-image("icon-popular.png", "icon-popular@2x.png");
    top: rem-calc(4);
  }
}

.m-icon-title-contact {
  &:before {
    @include hr-image("icon-contact.png", "icon-contact@2x.png");
    top: rem-calc(2);
  }
}

.m-icon-title-history {
  &:before {
    @include hr-image("icon-history.png", "icon-history@2x.png");
    top: rem-calc(3);
  }
}

