/*

Styles for category module.

*/

.m-list {
  list-style-type: none;
  margin-left: 0;
  font-size: rem-calc(14);
  line-height: rem-calc(30);
  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.m-list-category {
  @include grid-column(12);
  padding-left: 0;
  @media #{$medium-up} {
    @include grid-column(6);
    &:nth-child(2n+1) {
      padding-left: 0;
    }
  }
}

.m-list-category-title {
  font-size: rem-calc(18);
  color: $secondary-color;
}
