/*

Nosto logo styles.

*/

.m-logo-nosto, .m-logo-nosto-inverse {
  background-position: center;
}

.m-logo-nosto {
  @include hr-image("logo-nosto.png", "logo-nosto@2x.png");
}

.m-logo-nosto-inverse {
  @include hr-image("logo-nosto-inverse.png", "logo-nosto-inverse@2x.png");
  display: inline-block;
}
