/*

Styles for Nosto elements used mainly on 404-page.

*/

.m-nosto-title {
  font-size: rem-calc(18);
  margin-bottom: rem-calc(30);
  text-align: center;
}

.m-nosto {
  @include grid-row(collapse);
}

.m-nosto-single {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(3);
  }
}

.m-nosto-single-content {
  background-color: white;
  border-radius: $global-radius;
  overflow: hidden;
  color: $secondary-color;
  margin-bottom: rem-calc(18);
  &:hover {
    .m-nosto-single-content-title {
      color: $primary-color;
    }
  }
  @media #{$medium-up} {
    margin-bottom: 0;
  }
}

.m-nosto-single-content-image {
  text-align: center;
  padding: rem-calc(48) 0;
  min-height: rem-calc(150);
}

.m-nosto-single-content-title {
  padding: rem-calc(18);
  background-color: $bg-color;
  min-height: rem-calc(126);
}

.m-nosto-single-content-title-category {
  font-size: rem-calc(11);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: rem-calc(6);
}

.m-nosto-single-content-title-description {
  font-size: rem-calc(14);
}
