/*

Pagination styles.

*/

.m-pagination {
  text-align: center;
  padding: rem-calc(24) 0;
}

.m-pagination-list {
  margin-left: 0;
}

.m-pagination-list-item {
  display: inline-block;
  padding: 0 0.2rem;
  @media #{$small-only} {
    &:first-child {
      display: none;
    }
    &:last-child {
      display: none;
    }
  }
}

.m-pagination-list-position {
  font-size: rem-calc(12);
  padding: 0 rem-calc(12);
}
