/*

Search result styles.

*/

.m-search-result {
  margin-bottom: rem-calc(30);
  color: $secondary-color;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

.m-search-result-title {
  font-size: rem-calc(18);
}

.m-search-result-category {
  display: inline-block;
  font-size: rem-calc(12);
}

.m-search-result-category-title {
  text-transform: uppercase;
}

.m-search-result-date {
  display: inline-block;
  margin-left: rem-calc(18);
  font-size: rem-calc(12);
}
