/*

Search box styles.

*/

input.m-search-input {
  padding-left: rem-calc(50);
  position: relative;
  border: 0;
  border-radius: $global-radius;
  @media #{$medium-up} {
    border-radius: $global-radius 0 0 $global-radius;
  }
}

.m-search-input-icon {
  display: block;
  @include hr-image("icon-search.png", "icon-search@2x.png");
  position: absolute;
  top: rem-calc(12);
  left: rem-calc(16);
}

.m-search-button {
  height: rem-calc(48);
  line-height: 3.5;
  border-radius: $global-radius;
  @media #{$medium-up} {
    border-radius: 0 $global-radius $global-radius 0;
  }
}

.search .m-search-input {
  border: $border-basic;
}
