/*

Title styles.

*/

.m-title {
  font-size: rem-calc(24);
  padding-bottom: rem-calc(24);
  margin-bottom: rem-calc(24);
  border-bottom: $border-basic;
}

.m-title-search {
  border-bottom: 0;
  margin-bottom: 0;
}

.m-title-secondary {
  font-size: rem-calc(15);
  text-transform: uppercase;
}
