/*

Topbar styles.

1.  Important due to Foundation specificity.

2.  There is a variable called $topbar-button-top on Foundation's settings, but
    for some reason it doesn't seem to work.

*/

.m-topbar-logo {
  display: inline-block;
  padding: 1rem;
  padding-right: 0;
  img {
    width: 150px;
    height: auto;
  }
  @media #{$large-up} {
    display: inline;
    padding: $topbar-height/2 rem-calc(72);
  }
}

.m-topbar-title {
  display: none;
  font-size: rem-calc(14) !important; // 1
  span {
    font-size: rem-calc(14) !important; // 1
    font-weight: lighter;
  }
  @media #{$large-up} {
    display: inline-block;
  }
}

.has-form {
  .button, button {
    padding: rem-calc(12) initial;
    height: auto;
    @media #{$large-up} {
      top: rem-calc(11); // 2
    }
  }
}

.top-bar-section {
  li {
    &:nth-last-child(2) {
      border-bottom: $border-basic;
      padding-bottom: rem-calc(12);
    }
    &:first-child {
      border-top: 0;
      padding-top: rem-calc(12);
    }
  }
  li.login-item {
    a {
      background: $pink !important;
      color: #fff;
      &:hover {
        background: $dark-pink !important;
      }
    }
  }
  @media #{$large-up} {
    li {
      &:nth-last-child(2) {
        border-bottom: 0;
        padding-bottom: initial;
      }
      &:first-child {
        border-top: 0;
        padding-top: initial;
      }
    }
  }
}

.top-bar {
  .title-area {
    border-bottom: $border-basic;
    @media #{$large-up} {
      border-bottom: 0;
    }
  }
}

.top-bar.expanded {
  background: #fff; 
}
